<ion-content>
  <div class="back-container">
    <ion-grid>
      <ion-row *ngFor="let recipe of recipes">
        <ion-col>
          <ion-card class="white-background">
            <ion-card-header>
              <img [src]="'http://localhost:3000/' + recipe.picturePath" style="width: 100%;"/>
              <ion-card-subtitle (click)="goToCreatorRecipes(recipe.creatorId._id)" style="cursor: pointer;"> {{ recipe.creatorId.firstName }} {{ recipe.creatorId.lastName}} </ion-card-subtitle>
              <ion-card-title>{{ recipe.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none">
                <ion-label>{{ recipe.duration }}</ion-label>
                <ion-button slot="end" color="purple" (click)="goToPage('recipe/' + recipe._id)">
                  Kochen
                </ion-button>
              </ion-item>
              
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
