<ion-header>
    <ion-toolbar>
        <ion-buttons slot="">
            <ion-button (click)="goToPage('home')">
                <ion-icon slot="start" name="home-outline"></ion-icon>
                Startseite
            </ion-button>
            <ion-button (click)="goToPage('search-by-name')">
                <ion-icon slot="start" name="fast-food-outline"></ion-icon>
                Nach Name suchen
            </ion-button>
            <ion-button (click)="goToPage('search-by-ingredient')">
                <ion-icon slot="start" name="pizza-outline"></ion-icon>
                Nach Zutat suchen
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end" [hidden]="!authService.isAuthorized">
            <ion-button (click)="popclick($event)">
                {{ name }}
                <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end" [hidden]="authService.isAuthorized">
            <ion-button (click)="goToLogin()">
                Login
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="back-container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card class="white-background">
                        <ion-card-header>
                            <img [src]="'http://localhost:3000/' + recipe.picturePath" style="width: 100%;" />
                            <ion-card-subtitle (click)="goToCreatorRecipes(recipe.creatorId._id)"
                                style="cursor: pointer;"> {{
                                recipe?.creatorId?.firstName }} {{ recipe?.creatorId?.lastName}} </ion-card-subtitle>
                            <ion-card-title>{{ recipe.name }}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-list *ngFor="let ing of recipe.ingredients; let i = index">
                                {{ i + 1 }}. {{ ing.name }}, {{ ing.amount }} {{ ing.unit }}
                            </ion-list>
                            <br>
                            <ion-label>{{ recipe.preperation }}</ion-label>
                        </ion-card-content>
                    </ion-card>

                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>