<ion-list>
    <ion-button fill="clear" color="purple" expand="full" (click)="goToPage('profile')">
        <ion-icon name="person-outline" slot="start" color="purple"></ion-icon>
        <span class="ion-text-left">Profil</span>
    </ion-button>
    <ion-button fill="clear" color="purple" expand="full" (click)="myRecipes()">
        <ion-icon name="fast-food-outline" slot="start" color="purple"></ion-icon>
        <span class="ion-text-left">Meine Rezepte</span>
    </ion-button>
    <ion-button fill="clear" color="purple" expand="full" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start" color="purple"></ion-icon>
        <span class="ion-text-left">Logout</span>
    </ion-button>
    <ion-button fill="clear" color="purple" expand="full" (click)="close()">
        <ion-icon name="close-outline" slot="start" color="purple"></ion-icon>
        <span class="ion-text-left">Schließen</span>
    </ion-button>
</ion-list>