<ion-header>
  <ion-toolbar>
    <ion-buttons slot="">
      <ion-button (click)="goToStart()">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Startseite
      </ion-button>
      <ion-button (click)="goToName()">
        <ion-icon slot="start" name="fast-food-outline"></ion-icon>
        Nach Name suchen
      </ion-button>
      <ion-button (click)="goToIng()">
        <ion-icon slot="start" name="pizza-outline"></ion-icon>
        Nach Zutat suchen
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" [hidden]="!authService.isAuthorized">
      <ion-button (click)="popclick($event)">
        {{ name }}
        <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" [hidden]="authService.isAuthorized">
      <ion-button (click)="goToLogin()">
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>