<ion-content>
  <div class="back-container">
    <ion-grid class="grid-margin">
      <form [formGroup]="registerForm" (ngSubmit)="register($event)">
        <ion-row>
          <ion-col size-xl="8" offset-xl="2">
            <h1 style="text-align: center; margin-top: 66px;">Register</h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-xl="8" offset-xl="2">
            <ion-item class="white-background">
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input type="email" formControlName="email" placeholder="your@email.com"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-xl="8" offset-xl="2">
            <ion-item class="white-background">
              <ion-label position="floating">Vorname</ion-label>
              <ion-input formControlName="firstname" placeholder="Max"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-xl="8" offset-xl="2">
            <ion-item class="white-background">
              <ion-label position="floating">Nachname</ion-label>
              <ion-input formControlName="lastname" placeholder="Mustermann"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size-xl="8" offset-xl="2">
            <ion-item class="white-background">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="Password" formControlName="password" placeholder="your password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size-xl="8" offset-xl="2">
            <ion-item class="white-background">
              <ion-label position="floating">Password bestätigen</ion-label>
              <ion-input type="Password" formControlName="passwordCheck" placeholder="your password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-col size-xl="8" offset-xl="2">
            <ion-button expand="block" color="purple" [disabled]="!registerForm.valid" type="submit">
              Registrieren
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>